@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Piacom </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASP.NET_Core_MVC_Piacom.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav id="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Piacom</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <ul class="navbar-nav flex-grow-1">
                            @if (User.IsInRole("SuperAdmin"))
                            {
                                <!-- SuperAdmin specific items -->
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="UserRoles" asp-controller="Account">User Roles</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="AddRoleToUser" asp-controller="Account">Assign Role</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="CreateRole" asp-controller="Account">Create Role</a>
                                </li>
                            }

                            @if (User.IsInRole("Admin"))
                            {
                                <!-- Admin specific items -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuMasterData" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Master Data
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuMasterData">
                                        <a class="dropdown-item" asp-area="" asp-controller="Customer" asp-action="List">Customers</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Orders" asp-action="List">Orders</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Units" asp-action="Index">Units</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Price" asp-action="List">Prices</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="List">Employees</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuCustomer" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Customer
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuCustomer">
                                        <a class="dropdown-item" asp-area="" asp-controller="Payments" asp-action="Index">Payments</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="CreditLimit" asp-action="List">Credit Limits</a>
                                    </div>
                                </li>
                            }

                            @if (User.IsInRole("User"))
                            {
                                <!-- User specific items -->
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="List" asp-controller="Orders">Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="List" asp-controller="Customer">Customers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="List" asp-controller="Price">Prices</a>
                                </li>
                            }
                            <!-- Orders Dropdown -->
                            @if (User.HasClaim(c => c.Value.Contains("Orders")))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="ordersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Orders
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="ordersDropdown">
                                        @if (User.HasClaim(c => c.Type == "Permission" && c.Value == "ViewOrders"))
                                        {
                                            <a class="dropdown-item" asp-action="List" asp-controller="Orders">View Orders</a>
                                        }
                                        @if (User.HasClaim(c => c.Type == "Permission" && c.Value == "CreateOrders"))
                                        {
                                            <a class="dropdown-item" asp-action="Add" asp-controller="Orders">Create Orders</a>
                                        }
                                    </div>
                                </li>
                            }

                            <!-- Products Dropdown -->
                            @if (User.HasClaim(c => c.Value.Contains("Products")))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Products
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="productsDropdown">
                                        @if (User.HasClaim(c => c.Type == "Permission" && c.Value == "ViewProducts"))
                                        {
                                            <a class="dropdown-item" asp-action="Index" asp-controller="Products">View Products</a>
                                        }
                                        @if (User.HasClaim(c => c.Type == "Permission" && c.Value == "CreateProducts"))
                                        {
                                            <a class="dropdown-item" asp-action="Create" asp-controller="Products">Create Product</a>
                                        }
                                    </div>
                                </li>
                            }

                            <!-- Customers Dropdown -->
                            @if (User.HasClaim(c => c.Value.Contains("Customers")))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="customersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Customers
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="customersDropdown">
                                        @if (User.HasClaim(c => c.Type == "Permission" && c.Value == "ViewCustomers"))
                                        {
                                            <a class="dropdown-item" asp-action="List" asp-controller="Customer">Customer List</a>
                                        }
                                        @if (User.HasClaim(c => c.Type == "Permission" && c.Value == "CreateCustomers"))
                                        {
                                            <a class="dropdown-item" asp-action="Add" asp-controller="Customer">Create Customer</a>
                                        }
                                    </div>
                                </li>
                            }

                            <!-- Prices Dropdown -->
                            @if (User.HasClaim(c => c.Value.Contains("Prices")))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="pricesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Prices
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="pricesDropdown">
                                        @if (User.HasClaim(c => c.Type == "Permission" && c.Value == "ViewPrices"))
                                        {
                                            <a class="dropdown-item" asp-action="List" asp-controller="Price">View Prices</a>
                                        }
                                        @if (User.HasClaim(c => c.Type == "Permission" && c.Value == "CreatePrices"))
                                        {
                                            <a class="dropdown-item" asp-action="Add" asp-controller="Price">Create Price</a>
                                        }
                                    </div>
                                </li>
                            }
                            <!-- Employees Dropdown -->
                            @if (User.HasClaim(c => c.Value.Contains("Employees")))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="" id="employeesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Employees
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="employeesDropdown">
                                        @if (User.HasClaim(c => c.Type == "Permission" && c.Value == "ViewEmployees"))
                                        {
                                            <a class="dropdown-item" asp-action="List" asp-controller="Employees">View Employees</a>
                                        }
                                        @if (User.HasClaim(c => c.Type == "Permission" && c.Value == "CreateEmployees"))
                                        {
                                            <a class="dropdown-item" asp-action="Add" asp-controller="Employees">Create Employee</a>
                                        }
                                    </div>
                                </li>
                            }

                            <!-- Units Dropdown -->
                            @if (User.HasClaim(c => c.Value.Contains("Units")))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="unitsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Units
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="unitsDropdown">
                                        @if (User.HasClaim(c => c.Type == "Permission" && c.Value == "ViewUnits"))
                                        {
                                            <a class="dropdown-item" asp-action="Index" asp-controller="Units">View Units</a>
                                        }
                                        @if (User.HasClaim(c => c.Type == "Permission" && c.Value == "CreateUnits"))
                                        {
                                            <a class="dropdown-item" asp-action="Create" asp-controller="Units">Create Unit</a>
                                        }
                                    </div>
                                </li>
                            }

                        </ul>
                    }
                </div>


                <div class="d-flex align-items-center">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <div class="me-3 text-light">
                            @User?.Identity?.Name
                        </div>
                        <a class=" btn me-3 bg-light text-dark"
                           asp-area=""
                           asp-controller="Account"
                           asp-action="Logout">
                            Logout
                        </a>

                    }
                    else
                    {

                        <a class=" btn me-3 bg-light text-dark"
                           asp-area=""
                           asp-controller="Account"
                           asp-action="Login">
                            Sign in
                        </a>
                        <a class=" btn me-3 bg-light text-dark"
                           asp-area=""
                           asp-controller="Account"
                           asp-action="Register">
                            Sign up
                        </a>
                    }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ASP.NET_Core_MVC_Piacom - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>