@model ASP.NET_Core_MVC_Piacom.Models.ViewModels.AddProductRequest

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Add Price</h1>
    </div>
</div>

<div class="container py-5">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row mb-3">
            <div class="col-md-3">
                <label class="form-label">Product Code</label>
                <input type="text" class="form-control short-input" id="ProductCode" asp-for="ProductCode" />
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>

            <div class="col-md-3">
                <label class="form-label">Product Name</label>
                <input type="text" class="form-control short-input" id="ProductName" asp-for="ProductName" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3">
                <label class="form-label">Product Description</label>
                <input type="text" class="form-control short-input" id="ProductDescription" asp-for="ProductDescription" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label class="form-label">Product Status</label>
                <input type="text" class="form-control short-input" id="ProductStatus" asp-for="ProductStatus" />
                <span asp-validation-for="ProductStatus" class="text-danger"></span>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </form>
</div>

<style>
    .short-input {
        max-width: 250px; /* Adjust the width as needed */
    }
</style>

@await Html.PartialAsync("_ValidationScriptsPartial")