@model List<ASP.NET_Core_MVC_Piacom.Models.Domain.Customer>


<h1 class="mb-4 text-center">Customer List</h1>

<div class="container py-5">
    <div class="d-flex justify-content-start mb-3">
        <a asp-area="" asp-controller="Customer" asp-action="Add" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Add Customer
        </a>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            @if (Model != null && Model.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Phone</th>
                            <th>City</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customer in Model)
                        {
                            <tr>
                                <td>@customer.CustomerName</td>
                                <td>@customer.Phone</td>
                                <td>@customer.City</td>
                                <td>
                                    <a asp-area="" asp-controller="Customer" asp-action="Edit" asp-route-id="@customer.CustomerID" class="btn btn-warning btn-sm">
                                        <i class="bi bi-pencil"></i> Edit
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No customer found!</p>
            }
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
