@model ASP.NET_Core_MVC_Piacom.Models.Domain.PriceDetail

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PriceDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PriceDetailID" />
            <div class="form-group">
                <label asp-for="ProductID" class="control-label">Product Name</label>
                <select asp-for="ProductID" class="form-control" asp-items="ViewBag.ProductID"></select>
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceID" class="control-label">Price Code</label>
                <select asp-for="PriceID" class="form-control" asp-items="ViewBag.PriceID"></select>
                <span asp-validation-for="PriceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceBeforeTax" class="control-label"></label>
                <input asp-for="PriceBeforeTax" class="form-control" />
                <span asp-validation-for="PriceBeforeTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VAT" class="control-label"></label>
                <input asp-for="VAT" class="form-control" />
                <span asp-validation-for="VAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnvirontmentTax" class="control-label"></label>
                <input asp-for="EnvirontmentTax" class="form-control" />
                <span asp-validation-for="EnvirontmentTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitID" class="control-label">Unit Name</label>
                <select asp-for="UnitID" class="form-control" asp-items="ViewBag.UnitID"></select>
                <span asp-validation-for="UnitID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
