@model ASP.NET_Core_MVC_Piacom.Models.ViewModels.EditCreditRequest

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Add new Credit</h1>
    </div>
</div>

<div class="container py-5">
    <form method="post">
        <input type="text" class="form-control" id="creditID" asp-for="CreditLimitID" hidden />

        <div class="row mb-3">
            <div class="col-md-3">
                <label class="form-label">Customer Name</label>
                <select class="form-control short-input" asp-items="@Model.Customers" asp-for="CustomerID">
                </select>
            </div>

            <div class="col-md-3">
                <label class="form-label">From Date</label>
                <input type="date" class="form-control short-input" id="fromDate" asp-for="FromDate" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3">
                <label class="form-label">To Date</label>
                <input type="date" class="form-control short-input" id="toDate" asp-for="ToDate" />
            </div>

            <div class="col-md-3">
                <label class="form-label">Credit Type</label>
                <input type="text" class="form-control short-input" id="creditType" asp-for="CreditType" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3">
                <label class="form-label">Total</label>
                <input type="text" class="form-control short-input" id="total" asp-for="Total" />
            </div>

            <div class="col-md-3">
                <label class="form-label">Overdue</label>
                <input type="text" class="form-control short-input" id="overdue" asp-for="OverDue" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex">
                    <button type="submit" class="btn btn-dark">Update</button>
                    <button type="submit" class="btn btn-danger ms-2" asp-area="" asp-controller="CreditLimit" asp-action="Delete">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>

<style>
    .short-input {
        max-width: 250px; /* Adjust the width as needed */
    }
</style>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}