@model ASP.NET_Core_MVC_Piacom.Models.ViewModels.AddPriceRequest


@{
    ViewData["Title"] = "Create Price";
}

    <div class="container">
        <h1>Add Price</h1>
    </div>


<div class="container py-5">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label class="form-label">Price Code</label>
                    <input type="text" class="form-control short-input" id="priceCode" asp-for="PriceCode" />
                    <span asp-validation-for="PriceCode" class="text-danger"></span>
                </div>

                <div class="col-md-3">
                    <label class="form-label">From date</label>
                <input type="datetime-local" class="form-control short-input" id="fromDate" asp-for="FromDate" />
                    <span asp-validation-for="FromDate" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3">
                    <label class="form-label">To date</label>
                <input type="datetime-local" class="form-control short-input" id="toDate" asp-for="ToDate" />
                    <span asp-validation-for="ToDate" class="text-danger"></span>
                </div>
                <input type="hidden" class="form-control short-input" id="sysU" asp-for="SysU" />

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </form>
</div>

<style>
    .short-input {
        max-width: 250px; /* Adjust the width as needed */
    }
</style>

@await Html.PartialAsync("_ValidationScriptsPartial")